@font-face {
    font-family: 'Norse';
    src: url('/resources/fonts/Norse-Bold.woff2') format('woff2'),
        url('/resources/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    display: flex;
    height: 100vh;
    font-family: "Inter", "Roboto", "Open Sans", Arial, sans-serif;
    color:#212121
}

.sidebar {
    width:35%;
    background-size: 100% 100%;
    background-image: url('/resources/plant-image-big.jpg');
    position: relative;
}

.sidebar >div:nth-child(1),
.logo {
    height: clamp(50px,20vh,200px);
}

.sidebar > div:nth-child(1) {
    background-color: black;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    top:20vh;
}

.logo {
    position:absolute;
    display: flex;
    color:white;
    top:21vh;   
    width: 100%;
    align-items: center;
}

.logo img {
    width: clamp(50px,15vh,130px);
    height: clamp(45px,17vh,140px);
    margin-left: auto;
}

.logo h2{
    font-family: 'Norse', 'Times New Roman', Times, serif;
    font-size: clamp(20px,15vh,120px);
    margin: auto auto auto 0;
}

.form-container{
    width: 65%;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f8f8f8;
}

.form-container > p,
form h2{
    padding:1rem 3rem;
}

.form-container > p{
    font-size: clamp(1rem, 2.8vh, 1.8rem);
    padding-right: 20vh;
    font-weight: 550;
}



p:last-of-type {
    
}

label,
form h2{
    color:#555555;
    font-weight: 550;
}

form h2{
    font-size: clamp(1.5rem, 3.5vh, 1.8rem);
}

label {
    font-size:clamp(0.7rem, 1.7vh, 1rem);
    display: block;
}


fieldset{
    box-shadow: 2px;
    box-shadow: 0 4px 2px -2px rgb(217, 217, 217);
    background-color: white;
    padding-bottom: 1.2rem;
}


fieldset div {
    display: flex;
    justify-content: start;
}

fieldset >div > p {
    padding-left: 3rem;
}

input {
    border:1px solid;
    border-radius: 2px;
    padding:3px;
    border-color: #E5E7EB;
    width: clamp(80px, 25vh,200px);
}

.submit-container {
    margin:35px 0 0 30px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;

}

button,
a {
    font-weight: 550;
}

a {
    color:#596D48;
}

button:hover{
    cursor: pointer;
    background-color: #3c4733;
}

input:invalid:required{
    outline: none;
}

input:focus{
    outline:1px solid rgb(63, 145, 239);
    box-shadow: rgb(82, 82, 82) 1px 1px 1px 1px;
}

input:invalid {
    outline:1px solid red;
}


